@import url('http://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face{
    font-family: "Flood Std";
    src: url("Fonts/Flood-Std_17963.ttf");
    font-weight: normal;
    font-style:normal;
}
* {
    box-sizing:border-box;
    font-family:Raleway;
    color: #777;
}
html, body{
    margin: 0;
    padding: 0;
}
.nav ul{
    margin: 0;
}
.nav li{
 display: inline;
}
.nav a{
    display:inline-block;
    padding: .5em;
    color:white;
    text-decoration: none;
}
.main-nav {
    text-align: center;
    font-size:1.1em;
    font-weight:lighter;
    border-bottom: 1px solid rgba(225,225,225,.3)
}
.main-nav li{
    padding:0 5%;

}
.nav a:hover{
   background-color: rgba(255,255,255, .3)
}

.main-header {
    background-image: url("image/54b85e8a519cab482266919ba1537944.jpg");
    background-blend-mode:multiply;
    background-color: rgba(0,0,0,.2);
    background-size: cover;
    padding-bottom: 30px;
}
.my-name{
    text-align: center;
    margin: 0;
    font-size:4em;
    font-family: "Flood Std";
    font-weight:normal;
    color: white;
}
.my-name-large{
    font-size: 8em;
}
.content-section{
    margin: 1em;
}
.container{
    max-width:900px;
    margin:0 auto;
    padding:0 1.5em;
}
.section-header{
    font-family: "Flood Std";
    font-weight: normal;
    color:#333;
    text-align:center;
    font-size: 2.5em;
}
.about-me-image{
    float:left;
    height:200px;
    widows: 200px;
    margin:20px;
    border-radius: 50%;
}
.main-footer{
    background-color: #56ccf2;
    color:white;
    padding: .25em 0  ;
}
.main-footer-container{
    display: flex;
    align-items: center;
}
.main-footer-container ul{
    flex-grow:1;
    text-align:end;
}
.footer-nav li{
    padding:0 .5em;
}
.footer-nav img{
    width:30px;
    height:30px;
}
